@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
* {
    box-sizing: border-box;
}
body{
    font-family: 'Old Standard TT', serif;
    margin: 0rem;
}
:root{
    --primary-color:#D6D2C4;
    --width:600px;
}

/* nav-bar */
nav{
    font-size: 2rem;
    padding: 1rem;
    background-color: var(--primary-color);
    text-align: center;
}
.hero-img{
    width:40px;
    border-radius: 50%;
   
}
/* main */
main{
    margin: auto;
    padding: 1rem;
    max-width: var(--width);
}
/* input */
#input-txt{
    box-sizing: border-box;
    display: block;
    font-size: large;
    width: 100%; 
    min-height: 20vh;
    font-family: inherit;
    margin-top: 2rem;
}
/* button */
#btn-translate{
    background-color: var(--primary-color);
    color: black;
    font: inherit;
    font-size: large;
    padding: 0.5rem 0.5rem;
    border-color: white;
    /* border: none; */
    border-radius: 12px;
    cursor: pointer;
}
/* output */

#output-txt{
    box-sizing: border-box;
    border: 1px solid black;
    width: 100%;
    padding: 1rem;
    font-size: large;
    min-height: 10vh;
    max-height: 20vh;
    overflow:scroll;
}
/* footer */
footer{
    margin-top: 1rem;
    margin-bottom: 0px;
    width: 100%;
    padding: 0.75rem;
    background-color: var(--primary-color);
    text-align: center;
}
.footer-txt{
    max-width:var(--width);
    margin: auto;
    
}